.loading {
    min-height: '100vh';
    background-color: 'linear-gradient(to right, rgba(26,41,48,0), rgba(12,23,20,1))'
}

.gradient {  
    --color-1 : #1a2930; 
    --color-2: #0c1714;
    --color-1 : #1a2930;
    background: linear-gradient(
        170deg, 
        var(--color-1), 
        var(--color-2) 80%);
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

