/* .swipe-button {
    position: fixed;
    bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.swipe-button__right {
width: 70px !important;
height: 70px !important;       
padding: 10px 16px !important;     
color: #0c1714 !important;
}

.swipe-button__left {
width: 70px !important;
height: 70px !important;       
padding: 10px 16px !important;    
color: #0c1714 !important;
} */