.gradient {  
    --color-1 : #1a2930; 
    --color-2: #0c1714;
    --color-1 : #1a2930;
    background: linear-gradient(
        170deg, 
        var(--color-1), 
        var(--color-2) 80%);
    min-height: 100vh;  
    position: relative;  
}

.header {
    color: white;
}

.button {
    background: white;
    color: #0c1714;
    position: absolute;
    right: 0;
    bottom: 0;

}