/* .gradient {  
    --color-1 : #1a2930; 
    --color-2: #0c1714;
    --color-1 : #1a2930;
    background: linear-gradient(
        170deg, 
        var(--color-1), 
        var(--color-2) 80%);
    min-height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center; 
} */

.card-div {
    display: flex;
    justify-content: center;
    align-items: center
}

.btn-begin {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 12px 16px 0 #ff4747, 0 17px 50px 0 #ff4747;
    /* width: 300px */
}



