.gradient {  
    --color-1 : #1a2930; 
    --color-2: #0c1714;
    --color-1 : #1a2930;
    background: linear-gradient(
        170deg, 
        var(--color-1), 
        var(--color-2) 80%);
    min-height: 100vh;  
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    padding-top: 50px
}

.card-div {
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.title {
    text-align: center;
    padding-bottom: 10px
}

.invite {
    color: #f9f9f9c9;
    text-align: center
}