
.card-div {
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.title {
    text-align: center;
    padding-bottom: 10px
}

.invite {
    color: #f9f9f9c9;
    text-align: center
}