.gradient {  
    --color-1 : #1a2930; 
    --color-2: #0c1714;
    --color-1 : #1a2930;
    background: linear-gradient(
        170deg, 
        var(--color-1), 
        var(--color-2) 80%);
    min-height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center; 
}

.card-div {
    display: flex;
    justify-content: center;
    align-items: center
}

.title {
    color: #f9f9f9c9;
}

.redirect {
    color: #f9f9f9c9;
    /* color: #2d2d2dbb */
}

.link {
    color: #f9f9f9c9;
    cursor: pointer;

}